# Go coverage files
coverage.html
coverage.*.out
coverage.out
coverage_handler.html
coverage_handler.out
coverage_profile.out

# NPM Test Coverage
coverage/

.localstack/
.env*

# # Local secrets (do not commit)
# secrets.yml
# .secrets/

# Local config overrides (do not commit)
config/local-override.yml
config/*.local.yml
tmp
